{% extends "layout.html" %}
{% block body %}
	
	<h1>Welcome to the main page</h1>
	<div>Username: {{ username }}</div>
	<form method='POST' action='/logout'>
		<input type='submit' value='Logout'></input>
	</form>

	<h1>Limited Access Pages</h1>
	<ul>
		<a href='/permission-one'>
			<li>Permission One Page</li>
		</a>
		<a href='/permission-two'>
			<li>Permission Two Page</li>
		</a>
		<a href='/permission-three'>
			<li>Permission Three Page</li>
		</a>
		<a href='/permission-four'>
			<li>Permission Four Page</li>
		</a>
		<a href='/permission-five'>
			<li>Permission Five Page</li>
		</a>
	</ul>

{% endblock %}